SampleDemo-ADF/PartialArmTemplates/ArmTemplate_4_28_2019_14_24_56.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "SampleDemo-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CopySales_Iteratively')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AT_LKP_GetDateRange",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"dataset": {
								"referenceName": "DS_Daterange",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "AT_ForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "AT_LKP_GetDateRange",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('AT_LKP_GetDateRange').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "AT_CopyData",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderStoredProcedureName": "[concat('[', 'dbo].[GetsalesData]')]",
											"storedProcedureParameters": {
												"enddate": {
													"type": "DateTime",
													"value": {
														"value": "@item().enddate",
														"type": "Expression"
													}
												},
												"startdate": {
													"type": "DateTime",
													"value": {
														"value": "@item().startdate",
														"type": "Expression"
													}
												}
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_SalesData",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "DS_BlobStorage",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Daterange')]",
				"[concat(variables('factoryId'), '/datasets/DS_SalesData')]",
				"[concat(variables('factoryId'), '/datasets/DS_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Daterange')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "id",
						"type": "Int32"
					},
					{
						"name": "startdate",
						"type": "Date"
					},
					{
						"name": "enddate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[daterange]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BlobStorage')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@concat('sales',item().startdate,'.csv')",
						"type": "Expression"
					},
					"folderPath": "data"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SalesData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[salesdemo]')]"
				}
			}
		}
	]
}