pipeline/PL_CopySales_Iteratively.json
{
	"name": "PL_CopySales_Iteratively",
	"properties": {
		"activities": [
			{
				"name": "AT_LKP_GetDateRange",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "DS_Daterange",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "AT_ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "AT_LKP_GetDateRange",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('AT_LKP_GetDateRange').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AT_CopyData",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[GetsalesData]",
									"storedProcedureParameters": {
										"enddate": {
											"type": "DateTime",
											"value": {
												"value": "@item().enddate",
												"type": "Expression"
											}
										},
										"startdate": {
											"type": "DateTime",
											"value": {
												"value": "@item().startdate",
												"type": "Expression"
											}
										}
									}
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SalesData",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BlobStorage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		]
	}
}